.wrap {
  position: fixed;
  left: 0;
  top: 64Px;
  width: 118Px;
  height: 100%;
  background: #393836;
  color: #fff;
  font-size: 14Px;
  padding-top: 10Px;
  overflow-y: scroll;
}


.item {
  display: flex;
  height: 60Px;

  .icon {
    width: 16Px;
    height: 16Px;
    background: red;
    margin-left: 24Px;
    margin-right: 10Px;
  }
}
.active {
  color: #FD5500;
}
.item:nth-of-type(8) {
  margin-top: 60Px;
}
.item:hover {
  color: #FD5500;
}
