.wrap {
  height: 64Px;
  background: #393836;
  text-align: right;
  padding: 0 24Px;
  color: #fff;
  flex: 0 0 auto;
}


.navRight {
  font-size: 16px;
  margin-right: 60px;
}
.right1 {
  .right1Icon {
    width: 36Px;
    height: 31Px;
    background: red;
    margin-right: 10px;
  }
}


.right2 {
  .dropdownText2 {
    color: #67C23A;
    cursor: pointer;
    font-size: 16px;
  }
}



.right3 {
  color: #FD5500;

  .right3Icon {
    width: 22Px;
    height: 19Px;
    background: red;
    margin-right: 10px;
  }
}


.right4 {
  .right4Icon {
    width: 27Px;
    height: 27Px;
    background: red;
    margin-right: 18px;
  }
  .dropdownText4 {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
  }
}

.line {
  width: 1PX;
  height: 24px;
  background: red;
  margin: 0 46px;
} 



