/*
 * 规范化样式, 非 CSS reset, 作为依赖项不要删除此行
 * https://github.com/zenozeng/fonts.css/
 */
 /* TODO: PostCSS 配置导致不能 import */
/* @import 'normalize.css'; */

html, body {
  min-height: 100vw;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 16px;
  /*
   * 跨平台 CSS 中文字体解决方案
   * https://github.com/zenozeng/fonts.css/
   */
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  text-size-adjust: 100%;
  background: #EEEEEE;
  -webkit-overflow-scrolling: touch;
}

body, h3, p, div {
  margin: 0;
}
input, textarea {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}
a:link {
  -webkit-tap-highlight-color: white;
  -webkit-tap-highlight-color: transparent;
}

/* font */
.bold {
  font-weight: bold;
}
.autoFilled {
  max-width: 100%;
  max-height: 100%;
}

/* position */
.fixed {
  position: fixed;
  z-index: 10;
}

/* margin */
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-60 {
  margin-top: 60px;
}

.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.m-auto {
  margin: auto;
}

/* padding */
.pl-20 {
  padding-left: 30px;
}
.pl-25 {
  padding-left: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}
.pt-10 {
  padding-top: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-30 {
  padding-right: 30px;
}

/* border */
.b-no {
  border: none!important;
}
.br-5 {
  border-radius: 5px;
}
.br-10 {
  border-radius: 10px;
}
.br-15 {
  border-radius: 15px;
}

/* 1 像素边框 */
.hairline-border {
  position: relative;
}
.hairline-border:after {
  position: absolute;
  content: '';
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: #E6E6E6;
}

.hairline-border--top:after {
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
}
.hairline-border--right:after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
}
.hairline-border--bottom:after {
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
}
.hairline-border--left:after {
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
}
.hairline-border--all-sides:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: transparent;
}


/* text */
.t-center {
  text-align: center;
}

.hidden {
  display: none!important;
}
.opacity0 {
  opacity: 0!important;
}
body .missing {
  height: 0;
  overflow: hidden;
}

/*
* flex
* flex属性有宽度计算的BUG
*
*/
[class^="row-"],
[class*=" row-"] {
  display: flex;
}
.row-between {
  justify-content: space-between;
}
.row-center {
  align-items: center;
}
.row-between-center {
  justify-content: space-between;
  align-items: center;
}
.row-many-between {
  align-content: space-between;
}

/*
** 子元素要设置50%以上才有效，这是属性的BUG
** 横向居中，纵向两端对齐
*/
.col-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

/* 文本省略号 */
[class^="ellips-"],
[class*=" ellips-"] {
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.ellips-1 {
  display: block;
  white-space: nowrap;
}
.ellips-2 {
  -webkit-line-clamp: 2;
}
.ellips-3 {
  -webkit-line-clamp: 3;
}
.ellips-4 {
  -webkit-line-clamp: 4;
}

:root {
  --main: #F56133;
}

.fullBg {
  position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
  z-index: 10;
 background: rgba(0, 0, 0, .45);
}