.wrap {
  position: absolute;
  top: 92Px;
  left: 270Px;
  right: 300Px;
  background: #fff;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  box-sizing: border-box;
  font-size: 12px;
}

